<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
  />
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <link
    rel="stylesheet"
    href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
  />
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap"
    rel="stylesheet"
  />
  <!-- ===================== Freegram icon -->
  <link rel="icon" type="img/x-icon" href="./" />
  <!-- ===================== Freegram icon -->
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
  <title>{{title}}</title>
</head>