<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">AdminLTE Mahsulot qo'shish</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName" id="name" name="name">Mahsulot nomi</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" id="title" name="title">Mahsulotning tafsifi</label>
                        <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus" id="situation" name="situation">Mahulot holati</label>
                        <select id="inputStatus" class="form-control custom-select">
                            <option selected disabled>Birini tanlang</option>
                            <option>Yangi</option>
                            <option>Yaxshi</option>
                            <option>Eski</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputClientCompany" id="company" name="company">Mahsulot kompaniyasi</label>
                        <input type="text" id="inputClientCompany" class="form-control">
                    </div>
                    <div class="form-group createlabel">
                        <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                        <label for="customCheckbox1" class="custom-control-label">* Men mahsulot egasi ekanligiimni va barcha shartlarga rozi ekanligiimni
                            tasdiqlayman</label>
                    </div>
                    {{!-- <div class="form-group">
                        <label for="inputProjectLeader">Project Leader</label>
                        <input type="text" id="inputProjectLeader" class="form-control">
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="#" class="btn btn-secondary">Bekor</a>
            <input type="submit" value="Mahsulot qo'shish" class="btn btn-success float-right">
        </div>
    </div>
</div>