body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.wrapper {
  margin-left: 202px;
  padding-top: 45px;
}

.createlabel {
  margin-left: 25px;
  margin-bottom: 0;
}

.createlabel .custom-control-label {
  padding-top: 4px;
  color: #cf3f3f;
  font-weight: 500 !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #02458d;
  background-color: #007bff;
}

::-webkit-scrollbar {
  background: none;
  background: rgb(58, 58, 58);
  width: 17px;
  box-shadow: inset 0 0 5px 0 rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
  background: rgb(24, 24, 24);
  border: 3px solid rgb(61, 61, 61);
  border-radius: 23px;
  height: 93px;
}

.admineditpage {
  background: #cf3f3f !important;
}

.adminpagetext {
  color: rgb(233 44 44 / 88%) !important;
  text-shadow: 0 0 3px #1d1d1d;
}

.icon-filter {
  color: rgb(4, 113, 255);
  filter: drop-shadow(0px 0px 2px black);
}

.img-product{
  height: 771px !important;
}

.img-product img{
  width: 100%;
  height: 100%;
}